<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Generator</title>
  </head>
  <body>
    <div class="container jumbotron">


<h1>Generate password</h1>
<p>choose the length of password</p>
<form class="" action="{% url 'password' %}" method="get">
  <select class="" name="length">
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12" selected='selected'>12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>

  </select><br>
  <input type="checkbox" name="uppercase"> Uppercase
    <br>
    <input type="checkbox" name="numbers"> Numbers
    <br>
    <input type="checkbox" name="special"> Special Characters
    <
  <br>
  <input type="submit" class ='btn btn-success mt-5' value="submit">
</form>
  </div>
</body>
</html>
