<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Generator</title>
  </head>
  <body>
    <div class="container  text-center">

<h1>Your password is : </h1>
<h2 class=" alert alert-success">{{password}}</h2>
<a href="{% url 'home'%}" class="btn btn-warning"> about</a>
</div>
</body>
</html>
